@import "partials/bootstrap";
@import "partials/highlightjs_github.css";
body {
	padding-top: 76px;
	margin-bottom: 30px;
}
p {
//	font-size: 20px;
}
// narrower container
.container {
	$container-width: 750px;
	@media (min-width: 992px){
		width: $container-width;
	}
}

article.post {
	$pad: 4px;
	border-top: 1px solid $gray-lighter;
	padding-top: $pad;
	margin-top: $pad;
}
.article-navigation {
	text-align:center;
}

// footer
footer.footer {
	min-height: 130px;
	.colophon{
		min-height: 90px;
		border-top: 2px solid $gray-light;
		padding: 30px 0; 
	}
}
