nav.navbar.navbar-default.navbar-fixed-top
	div.container
		div.navbar-header
			button(type="button", data-toggle="collapse" data-target="#main-nav").navbar-toggle.collapsed
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a(href=relative('/')).navbar-brand Colophonemes
		div.collapse.navbar-collapse#main-nav
			ul.nav.navbar-nav
				each page in collections.pages
					li(class=[
								'nav',													// these are nav links
								page.path.substr( page.path.indexOf('/pages')+7 ),  	// get the slug from the path
								(page.path.indexOf('pages/') == -1 ? 'home' : ''),		// if there is no 'pages' subfolder in the path it's because we're home
								(path === page.path?'active':''),						// if this page is the page we're building, mark it as active
								(path.search('posts')>-1 &&  page.path === 'blog' ?'active':''), // if this is a blog post, mark the blog link as active
							])
						a(href=relative(page.path))
							!= page.title
							//- if path === page.path
							//- 	span.sr-only (current)