extends layout

block head
	// BLOGPOST

block header
	h1.page-title!= typogr.typogrify(title)
	
block content
	div.blogpost-content!= typogr.typogrify(contents)

	div.article-navigation
		if next
			span.next
				a(href=relative(next.path) ) &larr; Older
		if next && previous
			|  • 
		if previous
			span.previous
				a(href=relative(previous.path) ) Newer &rarr;