extends layout

block head
	// BLOGPOST

block header
	h1.post-title!= title
	
block content
	div.post-content!= contents

	div.article-navigation
		if next
			span.next
				a(href=relative(next.path) ) &larr; Older
		if next && previous
			|  • 
		if previous
			span.previous
				a(href=relative(previous.path) ) Newer &rarr;